/* Chat Header */
.containerCozy-jafyvG {
  background: rgba(0,0,0,0.4);
  margin: 15px 15px 0 25px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-left: 25px;
  border-radius: 5px;
}

#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .dividerEnabled-2TTlcf {
    border-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
}
/* Chat Header */

.channelTextArea-rNsIhG {
    border-top: none;
}