
::selection {
    background: rgb(var(--BG-gradient-one),1) !important;
    color: #fff !important;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* makes member hover darker to counter the transparency */

#app-mount .members-1998pB:hover{
	background: rgb(0,0,0,0.6) !important;
}
	
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Hover background color changes */

.clickable-1JJAn8:hover .layout-2DM8Md{
    background:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}
#app-mount .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover{
    background:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}
#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq:hover .content-3at_AU{
    background:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}
#app-mount .menu-Sp6bN1 .item-1GzJrl:hover{
    background:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}
#app-mount .quickswitcher-3JagVE .resultFocused-3aIoYe{
	background:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}
#app-mount .emojiPicker-3m1S-j .emojiItem-109bjA.selected-39BZ4S{
	background-color:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}

/* Links Recolor*/

.markup-2BOw-j a, .anchor-3Z-8Bb, .theme-dark .embedTitleLink-1Zla9e{
	color: rgb(var(--BG-gradient-one),1) !important;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Remove gift nitro in chat box */

 .buttons-205you [tabindex="3"] {display: none;}
 
 /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Fly in Voice Chat buttons */
.container-3baos1 .noWrap-3jynv6 {
    width: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.container-3baos1:hover .noWrap-3jynv6 {
    width: 100px;
    opacity: 1;
    pointer-events: all;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Makes the unread bar have color than that gray ugly thing for Frosted Glass */
.bar-30k2ka {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
    color: transparent;
}

.text-2e2ZyG {
    color: white;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/

/* Blur account email */
 .userInfoViewing-16kqK3 .flexChild-faoVW3 > div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj {
     filter: blur(5px);
     transition: 200ms cubic-bezier(.2, .11, 0, 1);
}
 .userInfoViewing-16kqK3 .flexChild-faoVW3 > div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj:hover {
     filter: none;
     transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/*delete blocked people*/
.theme-dark .friends-table .messages-3amgkR .messageGroupBlocked-3wrQQX, .theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .messageGroupBlocked-3wrQQX {
    display: var(--blocked-messages); 
}
/*end delete blocked people*/

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Profile edits */
#app-mount .userPopout-3XzG_A .headerPlaying-j0WQBV, #app-mount .userPopout-3XzG_A .headerSpotify-zpWxgT, .headerPlaying-j0WQBV, .headerStreaming-2FjmGz, .topSectionStreaming-1Tpf5X, #app-mount .root-SR8cQa .topSectionPlaying-1J5E4n, #app-mount .root-SR8cQa .topSectionSpotify-1lI0-P {
    background: transparent;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*Jump to present fix*/

.jumpToPresentBar-9P20AM {
	left: auto;
}

.chat-3bRxxu .jumpToPresentBar-9P20AM button:last-child {
    color: #fff;
}
.jumpToPresentBar-9P20AM button:last-child {
    -webkit-transition: color .2s;
    color: hsla(0,0%,100%,.6);
    font-size: 12px;
    text-transform: uppercase;
    transition: color .2s;
}
.jumpToPresentBar-9P20AM button {
    background: none;
    color: #fff;
    line-height: 14px;
    padding: 6px 10px;
    text-align: left;
}


.chat-3bRxxu .jumpToPresentBar-9P20AM button:first-child {
    display: none;
}
.jumpToPresentBar-9P20AM button:first-child {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    font-size: 14px;
}
.jumpToPresentBar-9P20AM button {
    background: none;
    color: #fff;
    line-height: 14px;
    padding: 6px 10px;
    text-align: left;
}

.unreadBottom-3hWQ7c {
    bottom: 0;
    display: none;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Remove tag/mention background */

#app-mount .chat-3bRxxu .isMentioned-N-h9aa{
    background: transparent !important;
}


#app-mount .chat-3bRxxu .mention, #app-mount .chat-3bRxxu .wrapper-3WhCwL{
	background:transparent !important;
	color: rgb(var(--BG-gradient-one), 1);
}

.selected-aXhQR6 .layout-2DM8Md{
	background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
}

/* End remove tag/mention background */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*speaking circle color*/

.listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .username-lm8y6T, .usernameSpeaking-2xbKKh {
    color: rgb(var(--BG-gradient-one),1);
	font-weight: bold;
}

.avatarSpeaking-3MqCHL{
	    box-shadow: inset 0 0 0 2px rgb(var(--BG-gradient-one),1),inset 0 0 0 3px var(--background-secondary);
}}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* Change icon of selected ch*/

.wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU .icon-1_QxNX {
    background-color: rgb(var(--BG-gradient-one)) ;
    opacity: 1 !important;
    -webkit-mask: var(--chat-icon) !important;
    -webkit-mask-size: var(--icon-size) !important;
    height: 20px;
    width: 20px;
    transition: .7s all ease-in-out;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}
.wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU .icon-1_QxNX path {
    display: none !important;
}