/*change selection to be gradient-one instead of gradient-two */
::selection {
    background: rgb(var(--BG-gradient-one),1) !important;
    color: #fff !important;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* makes member hover darker to counter the transparency */

#app-mount .members-1998pB:hover{
	background: rgb(0,0,0,0.6) !important;
}
	
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Hover background color changes */

.clickable-1JJAn8:hover .layout-2DM8Md{
    background:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}
#app-mount .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover{
    background:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}
#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq:hover .content-3at_AU{
    background:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}
#app-mount .menu-Sp6bN1 .item-1GzJrl:hover{
    background:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}
#app-mount .quickswitcher-3JagVE .resultFocused-3aIoYe{
	background:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}
#app-mount .emojiPicker-3m1S-j .emojiItem-109bjA.selected-39BZ4S{
	background-color:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}

/* Links Recolor*/

.markup-2BOw-j a, .anchor-3Z-8Bb, .theme-dark .embedTitleLink-1Zla9e{
	color: rgb(var(--BG-gradient-one),1) !important;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Remove gift nitro in chat box */
.channelTextArea-1LDbYG button[tabindex="2"] {
    display: none !important;
}
 /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Fly in Voice Chat buttons */
.container-3baos1 .noWrap-3jynv6 {
    width: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.container-3baos1:hover .noWrap-3jynv6 {
    width: 100px;
    opacity: 1;
    pointer-events: all;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Makes the unread bar have color than that gray ugly thing for Frosted Glass */
.bar-30k2ka {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
    color: transparent;
}

.text-2e2ZyG {
    color: white;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/

/* Blur account email */
 .userInfoViewing-16kqK3 .flexChild-faoVW3 > div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj {
     filter: blur(5px);
     transition: 200ms cubic-bezier(.2, .11, 0, 1);
}
 .userInfoViewing-16kqK3 .flexChild-faoVW3 > div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj:hover {
     filter: none;
     transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/*delete blocked people*/
.theme-dark .friends-table .messages-3amgkR .messageGroupBlocked-3wrQQX, .theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .messageGroupBlocked-3wrQQX {
    display: var(--blocked-messages); 
}
/*end delete blocked people*/

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Profile edits */
#app-mount .userPopout-3XzG_A .headerPlaying-j0WQBV, #app-mount .userPopout-3XzG_A .headerSpotify-zpWxgT, .headerPlaying-j0WQBV, .headerStreaming-2FjmGz, .topSectionStreaming-1Tpf5X, #app-mount .root-SR8cQa .topSectionPlaying-1J5E4n, #app-mount .root-SR8cQa .topSectionSpotify-1lI0-P {
    background: transparent;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*Jump to present fix*/

.jumpToPresentBar-9P20AM {
	left: auto;
}

.chat-3bRxxu .jumpToPresentBar-9P20AM button:last-child {
    color: #fff;
}
.jumpToPresentBar-9P20AM button:last-child {
    -webkit-transition: color .2s;
    color: hsla(0,0%,100%,.6);
    font-size: 12px;
    text-transform: uppercase;
    transition: color .2s;
}
.jumpToPresentBar-9P20AM button {
    background: none;
    color: #fff;
    line-height: 14px;
    padding: 6px 10px;
    text-align: left;
}


.chat-3bRxxu .jumpToPresentBar-9P20AM button:first-child {
    display: none;
}
.jumpToPresentBar-9P20AM button:first-child {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    font-size: 14px;
}
.jumpToPresentBar-9P20AM button {
    background: none;
    color: #fff;
    line-height: 14px;
    padding: 6px 10px;
    text-align: left;
}

.unreadBottom-3hWQ7c {
    bottom: 0;
    display: none;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Remove tag/mention background */

#app-mount .chat-3bRxxu .isMentioned-N-h9aa{
    background: transparent !important;
}


#app-mount .chat-3bRxxu .mention, #app-mount .chat-3bRxxu .wrapper-3WhCwL{
	background:transparent !important;
	color: rgb(var(--BG-gradient-one), 1);
}

.selected-aXhQR6 .layout-2DM8Md{
	background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
}

/* End remove tag/mention background */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*speaking circle color*/

.listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .username-lm8y6T, .usernameSpeaking-2xbKKh {
    color: rgb(var(--BG-gradient-one),1);
	font-weight: bold;
}

.avatarSpeaking-3MqCHL{
	    box-shadow: inset 0 0 0 2px rgb(var(--BG-gradient-one),1),inset 0 0 0 3px var(--background-secondary);
}

.attachWrapper-2TRKBi{
    border-right: transparent !important;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Background flicker fix*/


#app-mount .activityFeed-1C0EmJ::before,
#app-mount .applicationStore-1pNvnv::before,
#app-mount .authBox-hW6HRx::before,
#app-mount .autocomplete-1vrmpx::before,
#app-mount .autocompleteShadow-iiGWFU::before,
#app-mount .sidebar-2K8pFh::before,
#app-mount .chat-3bRxxu::before,
#app-mount .container-2x5lvQ::before,
#app-mount .container-3ayLPN::before,
#app-mount .container-3cGP6G::before,
#app-mount .container-3gCOGc::before,
#app-mount .contentRegion-3nDuYy::before,
#app-mount .css-1rckt42-menu::before,
#app-mount .errorPage-u8SYh4::before,
#app-mount .gameLibrary-TTDw4Y::before,
#app-mount .menu-Sp6bN1::before,
#app-mount .modal-yWgWj-::before,
#app-mount .modal-yWgWj-.modal-1sor29::before,
#app-mount .modal-yWgWj-.modal-c2O6Xq::before,
#app-mount .modal-yWgWj-.popout-103y-5.sizeSmall-1jtLQy::before,
#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb::before,
#app-mount .pageWrapper-1PgVDX::before,
#app-mount .popoutContainerMinimal-yvdYAP .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix::before,
#app-mount .queryContainer-RKFJW-.focused-2bY0OD::before,
#app-mount .quickSelectPopout-X1hvgV.regionSelectPopout-p9-0_W::before,
#app-mount .regionSelectModal-12e-57::before,
#app-mount .reply-list::before,
#app-mount .root-SR8cQa::before,
#app-mount .sidebarRegion-VFTUkN::before,
#app-mount .stickyHeader-1pqx0j::before,
#app-mount .uploadModal-2ifh8j::before,
#app-mount .userPopout-3XzG_A::before,
#app-mount .wrapper-1Rf91z::before,
#app-mount .messagesPopoutWrap-1MQ1bW::before,
#app-mount .css-181m2lf-menu::before,
#app-mount .overflowRolesPopout-140n9i::before,
#app-mount .popout-3G62UL::before,
#app-mount .membersFilterPopout-URUUD-::before,
#app-mount .quickswitcher-3JagVE::before,
#app-mount .keyboardShortcutsModal-3piNz7::before,
#app-mount .react-datepicker::before,
#app-mount #bd-customcss-detach-container::before,
#app-mount .root-1BQpZw::before,
#app-mount .popout-googletranslate .themedPopout-1TrfdI::before,
#app-mount .root-1gCeng.small-3iVZYw::before,
#app-mount .notice-2FJMB4::before,
#app-mount .guildSettingsAuditLogsUserFilterPopout-3Jg5NE::before,
#app-mount .bd-modal-inner::before,
#app-mount .searchResultsContainer-1ma_dc::before,
#app-mount .content-1-zrf2::before,
#app-mount .root-3R2ngo::before {
    content: "";
    background: linear-gradient(rgba(var(--BG-tint-colour-set), var(--BG-tint-brightness-set)), rgba(var(--BG-tint-colour-set), var(--BG-tint-brightness-set))), var(--BG-image) center/cover fixed;
    position: absolute;
    filter: blur(var(--BG-image-blur));
    z-index: 0;
}
#app-mount .autocomplete-1vrmpx::before {
    z-index: -1;
}
#app-mount {
    background: var(--BG-image) center/cover fixed !important;
}

